body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: calc(14pt + 1vmin);
}
main.signin {
  margin: 0 auto 0 auto;
  width: 30em;

}
main.stats {
  width: 20em;
  margin: 0 auto 0 auto;
  font-size: calc(20pt + 3vmin);
}
main.frontmenu {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main.frontmenu button {
  display: block;
  border-radius: 6px;
  font-size: calc(20pt + 3vmin);
  width: 10em;
  margin: 0 auto 1em auto;
  padding: 0.2em;
}
main.frontmenu button:hover {
  background-color: lightblue;
  cursor: pointer;
}
#odohdr {
  position: sticky;
  top: 0;
  background-color: lightblue;
  width: 100%;
  padding: .5em 0 .5em 0;
  text-align: center;
  margin: 0;
}
#timenow {
  font-weight: bold;
}
#odolist {
  margin: .5em auto 0 auto;
  display: table;
}
#odolist div {
  display: table-row;
}
#odolist span {
  display: table-cell;
  padding: 0 .2em .2em .1em;
}
#odolist span input {
  vertical-align: middle;
}

#signinlist {
  display: table;
}

#signinlist div {
  display: table-row;
}
#signinlist span {
  display: table-cell;
  padding: 0 .2em .2em .1em;
}

button.nav {
  display: block;
  border-radius: 6px;
  font-size: calc(14pt + 1vmin);
  width: 8em;
  margin: 0 1em 1em 0;
  padding: 0.2em;
}
button.nav:hover {
  background-color: lightblue;
  cursor: pointer;
}

.odd {
  background-color: lightgray;
}
.bignumber {
  width: 6em;
}
.val {
  font-weight: bold;
  text-align: right;
}
input {
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
}
input.oi {
  background-color: yellow;
}
input.oc {
  background-color: lightgreen;
}
#ticker {
  visibility: hidden;
}


.SigninScreenSingle {
  max-width: 50em;
  margin: auto;
}

.field {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
fieldset label, fieldset .label {
  font-size: 14pt;
}
fieldset input {
  font-size: 16pt;
}

.RiderIBA, .PillionIBA {
  width: 5em;
}

.RiderRBLR, .PillionRBLR {
  width: 5em;
}

.RiderEmail, .PillionEmail {
  width: 20em;
}

.BikeReg {
  width: 6em;
}

.OdoStart, .OdoFinish {
  width: 5em;
}

.RiderAddress, .PillionAddress {
  width: 30em;
}