@page {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --regular-background: aliceblue;
  --regular-text: black;
  --button-background: #006600;
  --button-text: white;
  --button-back-disabled: #339966;
  --button-text-disabled: lightgray;
  --bright-background: #ffff00;
  --bright-text: red;
  --form-background: whitesmoke;
  --input-text: black;
  --input-background: inherited;
  --hover-background: yellow;
  --hover-text: red;
  --tabs-background: #dedbde;
  --tabs-text: #42454a;
  --tabs-selected: lightgray;
  --via-background: white;
  --via-text: black;
  --solid-border: #c9c3ba;
  --header-background: lightgray;
  --topbar-background: lightblue;
  --rejected-background: red;
  --rejected-text: white;
  --checked-background: #31ad16;
  --checked-text: white;
  --error-background: red;
  --error-text: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: calc(14pt + 1vmin);
  max-width: 100vw;
  background-color: var(--regular-background);
  color: var(--regular-text);
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}
main {
  padding: 5px;
}

button {
  border-radius: 6px;
  font-size: .8rem;
  padding: 5px;
}
button:hover {
  background-color: var(--hover-background);
  cursor: pointer;
}

main.signin {
  display: grid;
  justify-content: space-around;
}
main.search {
  margin: 2rem;
  text-align: left;
  
}
main.search input {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
main.search select {
  font-size: 1rem;
  margin-bottom: .3rem;
}
main.search button {
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 5px;
}
main.search button:hover {
  background-color: lightblue;
  cursor: pointer;
}
.results {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.resultline {
  display: grid;
  grid-template-columns: 30% 38% 8% 8% 15%;
  grid-template-rows: auto;
  grid-auto-flow: column;
}
.resultline .status {
  font-size: .8rem;
}
.resultline .phone {
  font-size: .9rem;
}
.resultline .route  {
  font-size: .8rem;
}
.resultline span {
  display: table-cell;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}
.resultline:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
  cursor: pointer;
}

div.top {
  margin: 0 auto 5px auto;
  background-color: var(--topbar-background);
  text-align: center;
  position: sticky;
  top: 0;
  padding: 0;
}
div.top h2 {
  margin: 0;
}
main.config {
  text-align: center;
}
main.stats {
  display: grid;
  justify-content: space-around;
  grid-template-rows: 15% 80%;
  margin: 0.5rem auto 2rem auto;
}
main.frontmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
main.frontmenu h1 {
  display: block;
  font-size: 1.1rem;
  padding: 5px;
}
main.frontmenu button {
  border-radius: 6px;
  font-size: 1.1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: 90%;
  max-width: 30rem;
  margin: 0 auto 1em auto;
}
main.frontmenu button:hover {
  background-color: lightblue;
  cursor: pointer;
}
#odohdr {
  position: sticky;
  top: 0;
  background-color: var(--topbar-background);
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
#timenow {
  font-weight: bold;
}
#nextSlot {
  display: inline-block;
  border-radius: 6px;
  font-size: calc(14pt + 1vmin);
  width: 4rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
}
#nextSlot.hide {
  display: none;
}
#pauseTime {
  display: inline-block;
  border-radius: 6px;
  font-size: calc(14pt + 1vmin);
  width: 6rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
}
#odolist {
  margin: 0.5rem auto 2rem auto;
  display: table;
  overflow: hidden;
}
#odolist .odorow {
  display: table-row;
  width: 100%;
}
#odolist .odorow span {
  display: table-cell;
  padding: 0 0.2rem 0.2rem 0.1rem;
}
#odolist .odorow span input {
  vertical-align: middle;
  font-size: 0.9rem;
}

#signinlist {
  display: table;
  overflow: hidden;
  font-size: 1.5rem;
  margin: 0.5rem auto 2rem auto;
}

#signinlist div {
  display: table-row;
}
#signinlist span {
  display: table-cell;
  padding: 0 0.2rem 0.2rem 0.1rem;
}

button.nav {
  display: inline-block;
  border-radius: 6px;
  font-size: calc(14pt + 1vmin);
  width: 8rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.2rem;
}
button.nav:hover {
  background-color: lightblue;
  cursor: pointer;
}

.odd {
  background-color: lightgray;
}
.bignumber {
  width: 6rem;
}
.val {
  font-weight: bold;
  text-align: right;
  padding-left: 1rem;
}
input {
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 0 0 0 3px;
}
input.oi {
  background-color: yellow;
}
input.oc {
  background-color: lightgreen;
}
#ticker {
  visibility: hidden;
}

.SigninScreenSingle {
  max-width: 98%;
  margin: auto;
}

.field {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5rem 0 .5rem 0;
}
.fullwidth {
  width: 100%;
}
fieldset.setup {
  border: none;
  margin: 1.5rem;
}
fieldset label,
fieldset .label {
  font-size: 14pt;
}
fieldset input,
fieldset select,
.signinrow select {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--input-text);
}

input[type="checkbox"] {
  width: 1rem;
  margin-right: 1rem;
}

input[type="radio"] {
  width: 1rem;
  margin-left: 1rem;
}

.upload {
  max-width: 30rem;
  margin: auto;
}
main.upload button {
  border-radius: 6px;
  font-size: 1.1rem;
  padding: 0.2rem;
}
main.upload button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.upload fieldset {
  border: none;
  height: 2rem;
}

.RiderIBA,
.PillionIBA {
  width: 5rem;
}

.RiderRBLR,
.PillionRBLR {
  width: 5rem;
}

.RiderEmail,
.PillionEmail {
  width: 18rem;
}

.BikeReg {
  width: 6rem;
}

.OdoStart,
.OdoFinish {
  width: 5rem;
}

.RiderAddress,
.PillionAddress {
  width: 30rem;
}

.RiderPostcode,
.PillionPostcode {
  width: 6rem;
}

.RiderCountry,
.PillionCountry {
  width: 10rem;
}
.showtime {
  width: 6rem;
}

.Patches {
  width: 2rem;
}

.FreeCamping {
  margin: 0 .5rem 0 .5rem;
}

.EntryDonation,
.SquiresCheque,
.SquiresCash,
.RBLRAccount,
.JustGivingAmt {
  width: 5em;
}
.JustGivingURL {
  width: 20rem;
  font-size: 0.8rem;
}

.Notes {
  box-sizing: border-box;
  padding: 1rem;
  width: inherit;
  margin: auto;
  font-size: 1rem;
}
.small {
  font-size: 14pt;
}

.address {
  display: flex;
  flex-direction: column;
}
.tabContent {
  border: 5px solid var(--solid-border);
  border-radius: 5px;
  background-color: var(--form-background);
  padding: 0.2rem;
  display: block;
  overflow: auto;
}

.tabContenthide,
.hide {
  display: none;
}

.tabs_area {
  display: block;
  margin: 1rem 0 0 0;
  padding: 0;
}
.tabs_area ul {
  margin: 1rem 0 0 0;
}
.tabs_area li {
  display: inline-block;
  list-style: none;
}

ul#tabs li a {
  background-color: var(--tabs-background);
  color: var(--tabs-text);
  text-decoration: none;
  font-size: smaller;
  text-transform: lowercase;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-radius: 5px;
  padding: 0rem 0.3rem 0 0.3rem;
}
ul#tabs li a:hover {
  font-weight: bold;
  color: var(--tabs-text);
}
ul#tabs li a.selected {
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
  background-color: var(--tabs-selected);
}

.flex {
  display: inline-block;
  /*width: 18em;*/
  max-width: 98vw;
  border: none;
}
.signinrow {
  cursor: pointer;
}

.signinrow:hover {
  background-color: var(--hover-background);
  color: var(--hover-text);
}

.signout select {
  background-color: inherit;
  border: none;
  color: var(--regular-text);
  font-weight: bold;
}
.signout .Route {
  font-size: 0.8rem;
  width: 5em;
}
.special {
  border: solid;
  border-radius: 8px;
  margin-left: 1rem;
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
}

.link:hover {
  cursor: pointer;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

#OdoMileage {
  font-size: 10pt;
  font-style: italic;
}

.legal {
  font-size: 10pt;
}

.notblank {
  background-color: var(--bright-background) !important;
}

.ConfigScreen .field {
  display: block;
  margin: 0 0 1rem 0;
}
.ConfigScreen input {
  font-size: 0.9rem;
}

input.StartCohortMins {
  width: 3rem;
}

input.ExtraCohorts {
  width: 2rem;
}

input.MinDonation {
  width: 4rem;
}
input.MinOdoDiff,
input.MaxOdoDiff {
  width: 4rem;
}
input:read-only {
  background-color: inherit;
  border: none;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--topbar-background);
  width: 100%;
}
footer {
  position: sticky;
  bottom: 0;
  border-top: solid;
  background-color: var(--topbar-background);
  width: 100%;
}
.nerdy {
  font-size: 12pt;
}
.vspace {
  margin: 1rem 0 3rem 0;
}

.about {
  width: 98%;
  max-width: 30rem;
  margin: 1em auto 0 auto;
  border: double 6px;
  padding: 1em;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
}
.merch {
  display: grid;
  margin: auto;
}
h2.shop {
  display: table-caption;
  text-align: center;
}
.row {
  display: table-row;
}
.merch .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.col {
  display: table-cell;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}
.hdr .col {
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.footnote {
  font-size: 0.5rem;
  padding: 0.5rem;
  margin: 0 auto 0 auto;
  text-align: right;
}
.subrow td {
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
}

.badodo {
  background-color: rgb(238, 158, 158);
}


.justgpages {
  display: flex;
  flex-direction: column;
}
.pagerow {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 3fr;
  grid-template-rows: auto;
}
.pagerow span {
  display: table-cell;
}
.pagerow .PageShortName1 {
  width: 12rem;
}
.pagerow .NumUsers {
  text-align: center;
  padding: 0 .3rem 0 .3rem;
  margin: 0 .2rem 0 .2rem;
}
.duff {
  text-decoration: line-through;
  background-color: yellow;
}